@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER STYLES */
.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__linkLogo {
  width: 20%;
}

.header__logo {
  height: 82%;
  width: 54%;
  margin: 10px 20px 0 20px;
  cursor: pointer;
  object-fit: contain;
}
.header__search{
  display: flex;
  flex: 1;
}
.header__searchInput{
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #FEBD69;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__link{
  color: white;
  text-decoration: none;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  padding: 6px;
}
.header__option:hover, .header__optionBasket:hover {
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}
.header__optionLineOne {
  font-size: 10px;
}
.header__optionLineTwo{
  font-size: 13px;
  font-weight: 800;
}
.header__optionBasket{
  display: flex;
  padding: 6px;
}
.header__basketCount {
  margin: 0 10px;
}
/* HOME STYLE */
.home {
  max-width: 1500px;
  margin: 0 auto;
  background-color: rgba(128, 128, 128, 0.11);
}
.home__row{
  display: flex;
  z-index: 1;
}
.home__img{
  width: 100%;
  mask-image: linear-gradient(to bottom, rgb(0,0,0,1), rgb(0,0,0,0));
  z-index: -1;
  margin-bottom: -150px;
}

/* PRODUCT STYLING */
.product{
  display: flex;
  flex-direction: column;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  margin: 10px;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
  width: 100%;
  padding: 5px
}
.product__info{
  height: 100px;
  margin-bottom: 15px;
}
.product > button {
  background-color: #f0c14b;
  border-color: #a88734 #999790 #846a29;
  cursor: pointer;
  border-radius: 3px;
  padding: 3px;
}
.product__price {
  margin-top: 5px;
}
.product > img {
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

/* CHECKOUT STYLE */
.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}
.checkout__ad {
  width: 100%;
  margin: 10px 0;
}
.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.checkout__column1 {
  flex: 1;
}
/* CHECKOUTPRODUCT STYLE */
.checkoutProduct {
  display: flex;
  margin: 20px 0;
}
.checkoutProduct__img {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutProduct__info {
  padding-left: 20px;
}
.checkoutProduct__title {
  font-size: 18px;
  font-weight: 800;
}
.checkoutProduct__info > button {
  background-color: #f0c14b;
  border-radius: 3px;
  padding: 3px;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
  margin-top: 10px;
}
/* SUBTOTAL STYLES */
.subtotal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  
}
.subtotal > button {
  background-color: #f0c14b;
  border-radius: 2px;
  width: 100%;
  padding: 3px;
  border-radius: 3px;
  height: 30px;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.subtotal__gift {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.subtotal__gift > input {
  margin-right: 5px;
}
/* LOGIN COMPONENT STYLES */
.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__logo {
  width: 100%;
  margin: 20px 0;
  max-width: 100px;
}
.login__container{
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid lightgrey;
}
.login__container > h1{
  font-weight: 800;
  margin-bottom: 20px;
}
.login__container > form > h5 {
  margin-bottom: 5px;
}
.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  }
  .login__container > p{
    margin-top: 15px;
    font-size: 12px;
  }
  .login__signInBtn {
    background-color: #f0c14b;
    border-radius: 4px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
  }
  .login__registerBtn {
    border-radius: 4px;
    border: 1px solid darkgrey;
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }
  



